<h1>Login to your Account</h1>
<form action="/login" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <button>Login</button>
</form>
<ul>
    <li>
        <a href="/register">Register Account</a>
    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    <li>
        <a href="/logout">Logout</a>
    </li>
</ul>

