<h1>Register</h1>
<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <button>Submit</button>
</form>
<ul>
    <li>
        <a href="/register">Register Account</a>
    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    <li>
        <a href="/logout">Logout</a>
    </li>
</ul>
